.Notifications {
    position: absolute;
    right: 20px;
    border: 1px dashed #d73953;
    padding: 5px;
    margin-top: 25px;
}

.Notifications button img {
    width: 0.5em;
}

.menuItem {
    position: absolute;
    right: 15px;
}