:root {
    --text-color-red:#d73953;
    --text-color-black: #090909;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure container takes up at least the full viewport height */
  }
  