.Notifications {
    border: 1px dotted #d73953;
    padding: 20px;
}

.Notifications ul li[data-priority='default'] {
    color: blue;
}

.Notifications ul li[data-priority='urgent'] {
    color: red;
}

.Notifications button img {
    width: 0.5em;
}